.main-div{
    background-color: #0a124d;
    color: #ffffff;
    background-size: 100vh;
    background-position: top;
}
.single-result{
    background: rgb(29, 6, 241);
    border-radius: 15px;
}
.btn{
    border-radius: 1.5rem;
    padding: 9px 20px;
}
.images{
    width: 110%;
    height: 220px;
}